@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--white);
}

ul {
    list-style: none;
}

.l-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: start;
    justify-items: center;
}

.l-banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
    overflow: hidden;
}

.l-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 5%;
    display: flex;
    align-items: center;
}

.l-form {
    width: 100%;
    display: flex;
    justify-content: center;
    place-self: end;
    margin-bottom: 35%;
}

.c-banner {
    width: 767px;
    max-width: 100%;
}

.c-banner-desktop {
    display: none;
}

.c-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.c-list__item {
    display: flex;
    align-items: flex-start;;
    gap: 15px;
}

.c-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 450px;
}

.c-form__email-title {
    font-weight: 700;
    font-size: 12px;
}

.c-form__email-input {
    height: 50px;
    padding: 15px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    outline: 0;
}

.c-form__email-input:focus {
    border: 1px solid var(--charcoal-grey);
}

.c-form__button {
    height: 50px;
    border: 0;
    background-color: var(--dark-slate-grey);
    color: var(--white);
}

.c-form__button:hover {
    background-color: var(--tomato);
}

@media screen and (min-width: 768px) {
    .l-container {
        max-width: 1440px;
        height: 100vh;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .l-banner {
        height: 95%;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        place-self: center;
    }

    .l-info {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        place-self: end;
    }

    .l-form {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        place-self: start;
        margin-bottom: 0;
    }

    .c-banner {
        display: none;
    }
    
    .c-banner-desktop {
        display: block;
        height: 100%;
        max-width: 100%;
    }

    .c-title {
        font-size: 64px;
    }

    .c-description {
        width: 90%;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .l-container {
        grid-template-rows: 1fr 1fr 1fr;
    }

    .l-banner {
        grid-row: 1 / 4;
    }

    .l-info {
        grid-row: 1 / 3;
        place-self: center;
    }

    .l-form {
        grid-row: 3 / 4;
        place-self: start;
    }

    .c-banner-desktop {
        max-width: max-content;
        width: 70vw;
        position: relative;
        top: 0;
        left: 80px;
    }

    .c-list {
        gap: 10px;
    }

    .c-title {
        font-size: 56px;
    }
}